*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.emoji{
    font-size: 1.45em;
}
.java{
    height: 250px;
    width: 250px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #00e6f6;
    margin: 0 auto;
}
.java h2{
    text-align: center;
    padding: 40% 0 0 0;
    text-shadow: 0 0 20px #ffffff;
    letter-spacing: 5px;
    font-size: 2.5em;
    font-family: 'Stick No Bills', sans-serif;
}
header{
    background-color: #082a3a;
    height: 100vh;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 10%;
}
header p{
    margin-top: 20px;
    font-size: 1.3em;
}
.intro{
    width: 100%;
    height: auto;
    background-color: #082a3a;
    color: #ffffff;
    padding: 20px;
    font-family: 'Finlandica', sans-serif;
}
.headings{
    text-align: center;
    font-size: 2em;
    letter-spacing: 3px;
    margin: 10px 0;
    text-shadow: 0 0 10px #ffffff;
}
.introtag{
    text-align: center;
    font-size: 1.2em;
    padding: 5px 0;
}
.design{
    max-width: 900px;
    padding: 10px;
    margin: 15px auto;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 30px;
}
.history ul{
    padding: 5px;
}
.history h3{
    padding: 5px 0;
}
.history ul li{
    padding: 5px;
}
.history p{
    padding: 5px;
}
.jdk{
    height: auto;
    padding: 30px;
    margin: 0 auto;
}
.jdk ol,ul{
    list-style-position: inside;
}
.divider{
    background-color: #00e6f6;
    border: 1px solid #00e6f6;
    box-shadow: 0 0 15px #ffffff;
}
.same{
    width: 600px;
    display: block;
    min-width: 350px;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}
.same1{
    width: 300px;
    display: block;
    min-width: 200px;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}
.links{
    max-width: 300px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 800;
    background-color: #00e6f6;
    padding: 8px;
    margin: 15px auto;
    border: 1px solid #00e6f6;
    box-shadow: 0 0 15px #ffffff;
}
iframe{
    display: block;
    margin: 15px auto;
}

/* coding part*/
:root{
    --public : #75fd92;
    --methods : #e3b921;
    --class : #c6e1f5;
    --file : #f581de;
    --static : #ffffff;
    --returntype : #809eff;
    --strsys : #fa3232;
    --out : #FFFF00;
    --msg : #c079ff;
}
.code, .output{
    margin: 10px 0;
    padding: 1em 1.5em;
    border: 1px solid #082a3a;
    border-radius: 5px;
    white-space: nowrap;
}
.code{
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgba(100, 100, 100, 0.2);
    border-left: 10px solid #00e6f6;
    text-align: left;
}
.output{
    background-color: rgba(100, 100, 100, 0.2);
}
.flo{
    float: right;
    color: #c079ff;
    font-size: 1.5em;
}   
/*code coloring */
.public{
    color: var(--public);
}
.class{
    color: var(--class);
}
.file{
    color: var(--file);
}
.static{
    color: var(--static);
}
.return{
    color: var(--returntype);
}
.method{
    color: var(--methods);
}
.str{
    color: var(--strsys);
}
.args{
    color: var(--static);
}
.out{
    color: var(--out);
}
.msg{
    color: var(--msg);
}
.ten{
    padding-left: 30px;
}
.ten2{
    padding-left: 50px;
}
.codepart ul{
    padding: 5px;
    list-style-type: square;
    list-style-position: inside;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color: #00e6f6;
}

/*moible ki 
@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}
 Media Query for Mobile Devices 
 @media (max-width: 480px) {
    body {
        background-color: red;
    }
}
  
Media Query for low resolution  Tablets, Ipads 
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
}
*/
@media screen and (min-width: 320px) and (max-width: 376px){
    .emoji{
        font-size: 0.85em;
    }
    .java{
        height: 190px;
        width: 190px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px #00e6f6;
        margin: 0 auto;
    }
    .intro{
        padding: 1px;
    }
    .headings{
        text-align: center;
        font-size: 1.2em;
        letter-spacing: 2px;
        margin: 5px 0;
        text-shadow: 0 0 5px #ffffff;
    }
    .flo{
        float: right;
        color: #c079ff;
        font-size: 0.85em;
    }
    .introtag{
        text-align: center;
        font-size: 0.7em;
        padding: 2px 0;
    }
    .design{
        width: 100%;
        padding: 6px;
        margin: 10px auto;
        letter-spacing: 1px;
        text-align: justify;
        font-size: 1em;
        line-height: 25px;
    }
    .history ul{
        padding: 2px;
    }
    .history h3{
        padding: 3px 0;
    }
    .history ul li{
        padding: 2px;
    }
    .history p{
        padding: 3px;
    }
    .jdk{
        height: auto;
        padding: 4px;
        margin: 0 auto;
    }
    .jdk ol,ul{
        list-style-position: inside;
    }
    .divider{
        background-color: #00e6f6;
        border: 1px solid #00e6f6;
        box-shadow: 0 0 5px #ffffff;
        margin: 5px 0;
    }
    .same{
        padding: unset;
        display: block;
        margin: 2px auto;
        width: 300px;
        min-width: 250px;
        max-width: 340px;
        height: auto;
    }
    .same1{
        display: block;
        width: 150px;
        margin: 5px auto;
    }
    .links{
        width: 150px;
        max-width: 300px;
        text-align: center;
        display: block;
        text-decoration: none;
        color: black;
        font-weight: 800;
        background-color: #00e6f6;
        padding: 3px;
        margin: 10px auto;
        border: 1px solid #00e6f6;
        box-shadow: 0 0 5px #ffffff;
    }
    iframe{
        width: 300px;
        min-width: 250px;
        max-width: 340px;
        display: block;
        margin: 10px auto;
    }
    .code, .output{
        margin: 5px 0;
        border: 1px solid #082a3a;
        border-radius: 2px;
        width: 100vw;
        min-width: 300px;
        max-width: 100%;
        overflow-x: scroll;
        font-size: 1em;
        white-space: nowrap;
        padding: 1em;
    }
    .code{
        font-family: 'IBM Plex Mono', monospace;
        background-color: rgba(100, 100, 100, 0.2);
        border-left: 2px solid #00e6f6;
        text-align: left;
        padding: 1em;
    }
    .code p{
        line-height: 1;
    }
    .output{
        background-color: rgba(100, 100, 100, 0.2);
        padding: 1em;
    }
}

@media screen and (min-width: 377px) and (max-width: 426px){
    .emoji{
        font-size: 0.95em;
    }
    .java{
        height: 250px;
        width: 250px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px #00e6f6;
        margin: 0 auto;
    }
    .intro{
        padding: 2px;
    }
    .headings{
        text-align: center;
        font-size: 1.2em;
        letter-spacing: 3px;
        margin: 5px 0;
        text-shadow: 0 0 8px #ffffff;
    }
    .flo{
        float: right;
        color: #c079ff;
        font-size: 0.95em;
    }
    .introtag{
        text-align: center;
        font-size: 0.9em;
        padding: 5px 0;
    }
    .design{
        width: 100%;
        padding: 3px;
        margin: 10px auto;
        letter-spacing: 1px;
        text-align: justify;
        font-size: 1.2em;
        line-height: 30px;
    }
    .history ul{
        padding: 3px;
    }
    .history h3{
        padding: 3px 0;
    }
    .history ul li{
        padding: 2px;
    }
    .history p{
        padding: 3px;
    }
    .jdk{
        height: auto;
        padding: 6px;
        margin: 0 auto;
    }
    .jdk ol,ul{
        list-style-position: inside;
    }
    .divider{
        background-color: #00e6f6;
        border: 2px solid #00e6f6;
        box-shadow: 0 0 10px #ffffff;
        margin: 7px 0;
    }
    .same{
        padding: unset;
        display: block;
        margin: 2px auto;
        width: 350px;
        min-width: 250px;
        max-width: 400px;
        height: auto;
    }
    .same1{
        display: block;
        width: 250px;
        margin: 5px auto;
    }
    .links{
        width: 190px;
        max-width: 300px;
        text-align: center;
        display: block;
        text-decoration: none;
        color: black;
        font-weight: 800;
        background-color: #00e6f6;
        padding: 3px;
        margin: 10px auto;
        border: 1px solid #00e6f6;
        box-shadow: 0 0 10px #ffffff;
    }
    iframe{
        width: 300px;
        min-width: 250px;
        max-width: 400px;
        display: block;
        margin: 10px auto;
    }
    .code, .output{
        margin: 5px 0;
        border: 1px solid #082a3a;
        border-radius: 2px;
        width: 100vw;
        min-width: 300px;
        max-width: 100%;
        overflow-x: scroll;
        font-size: 1em;
        white-space: nowrap;
        padding: 1em;
    }
    .code{
        font-family: 'IBM Plex Mono', monospace;
        background-color: rgba(100, 100, 100, 0.2);
        border-left: 6px solid #00e6f6;
        text-align: left;
        padding: 1em;
    }
    .code p{
        line-height: 1;
    }
    .output{
        background-color: rgba(100, 100, 100, 0.2);
        padding: 1em;
    }
}

@media screen and (min-width: 427px) and (max-width: 769px){
    .emoji{
        font-size: 1.2em;
    }
    .java{
        height: 250px;
        width: 250px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px #00e6f6;
        margin: 0 auto;
    }
    .intro{
        padding: 4px;
    }
    .headings{
        text-align: center;
        font-size: 1.6em;
        letter-spacing: 4px;
        margin: 8px 0;
        text-shadow: 0 0 10px #ffffff;
    }
    .flo{
        float: right;
        color: #c079ff;
        font-size: 1em;
    }
    .introtag{
        text-align: center;
        font-size: 1em;
        padding: 5px 0;
    }
    .design{
        width: 100%;
        padding: 4px;
        margin: 10px auto;
        letter-spacing: 2px;
        text-align: justify;
        font-size: 1.2em;
        line-height: 30px;
    }
    .history ul{
        padding: 5px;
    }
    .history h3{
        padding: 5px 0;
    }
    .history ul li{
        padding: 4px;
    }
    .history p{
        padding: 5px;
    }
    .jdk{
        height: auto;
        padding: 10px;
        margin: 0 auto;
    }
    .jdk ol,ul{
        list-style-position: inside;
    }
    .divider{
        background-color: #00e6f6;
        border: 2px solid #00e6f6;
        box-shadow: 0 0 10px #ffffff;
        margin: 10px 0;
    }
    .same{
        padding: unset;
        display: block;
        margin: 2px auto;
        width: 400px;
        min-width: 400px;
        max-width: 600px;
        height: auto;
    }
    .same1{
        display: block;
        width: 300px;
        margin: 5px auto;
    }
    .links{
        width: 230px;
        max-width: 300px;
        text-align: center;
        display: block;
        text-decoration: none;
        color: black;
        font-weight: 800;
        background-color: #00e6f6;
        padding: 3px;
        margin: 10px auto;
        border: 1px solid #00e6f6;
        box-shadow: 0 0 10px #ffffff;
    }
    iframe{
        width: 400px;
        min-width: 250px;
        max-width: 400px;
        display: block;
        margin: 10px auto;
    }
    .code, .output{
        margin: 10px 0;
        border: 1px solid #082a3a;
        border-radius: 2px;
        width: 100vw;
        min-width: 300px;
        max-width: 100%;
        overflow-x: scroll;
        font-size: 1em;
        white-space: nowrap;
        padding: 1em;
    }
    .code{
        font-family: 'IBM Plex Mono', monospace;
        background-color: rgba(100, 100, 100, 0.2);
        border-left: 10px solid #00e6f6;
        text-align: left;
        padding: 1em;
    }
    .code p{
        line-height: 1;
    }
    .output{
        background-color: rgba(100, 100, 100, 0.2);
        padding: 1em;
    }
}